/* Utilities classes */
.theme-button {
  background: #ee786c !important;
  color: white !important;
  border: 1.5px solid #ee786c;
  padding: 2vh 2.3vw !important;
  border-radius: 45px;
  transition: 0.3s ease-in-out;
}
.theme-button:hover {
  background: transparent !important;
  color: #ee786c !important;
  padding: 2vh 2.3vw !important;
}
.theme-outline-button {
  background: transparent !important;
  color: #ee786c !important;
  border: 1.5px solid #ee786c;
  padding: 2vh 2.3vw !important;
  border-radius: 45px;
  transition: 0.3s ease-in-out;
}
.theme-outline-button:hover {
  color: white !important;
  background: #ee786c !important;
  padding: 2vh 2.3vw !important;
}
.alt-height {
  height: 83vh !important;
}
button:focus {
  outline: 0;
}

body {
  background: #1f1f26;
}

/* Landing Navbar */
#landing-nav {
  background: transparent !important;
  height: 17vh;
}
.navbar-brand {
  margin-left: 10vw;
}
#brand-title {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  font-weight: 800;
  font-size: 25px;
}

#landing-nav-links {
  margin-right: 5vw;
  font-size: 16px;
}
.navbar-nav > li {
  padding: 1vw 1vw;
}
.nav-link {
  padding-top: 2vh;
  font-family: "Nunito", sans-serif;
  color: #ffffff !important;
  font-weight: 600;
}
#sign-in-link {
  transition: 0.2s ease-in-out;
}
#sign-in-link:hover {
  color: #ee786c !important;
}

/* Hero Section */
#hero-section {
  height: 83vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2vh 4vw;
  margin: 3vh 3vw;
}
/* HS-Left */
.scribble-head {
  color: #ee786c;
  font-family: "Reenie Beanie", cursive;
  font-size: 30px;
  padding-left: 1.5vw;
}
.hsl-heads {
  padding-top: 1vh !important;
  padding-left: 1.5vw;
  padding-bottom: 0.5vh;
}
.hsl-tittle {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 70px;
  font-weight: 800;
  line-height: 1;
}
.hsl-text {
  padding-left: 4vh;
  color: #a5a5a8;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.55;
  width: 32vw;
}
.hsl-links {
  padding-left: 1.5vw;
  margin-top: 7vh;
}
.hsl-link {
  padding-top: 2vh;
  font-family: "Nunito", sans-serif;
  color: #ffffff !important;
  font-weight: 600;
  font-size: 15px;
}
#register-link {
  margin-left: 2vw;
  font-size: 15px;
}

/* HS-Right */
.hero-section-right {
  margin-right: 10vw;
}
#hsr-image {
  margin-top: 5vh;
  margin-left: 5vw;
  height: 55vh;
  width: 50vw;
}

/* Sign Up */
#sign-up-content {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 7vh;
}
.form-controller {
  text-align: center;
}
.hr-form {
  background: #fff;
  width: 30vw;
  opacity: 0.1;
}
.theme-form {
  margin-top: 3vh !important;
  width: 30vw;
  margin: 0 auto;
}
#c-form {
  transition: 0.5s ease-in-out;
}
.form-input-admin {
  border-radius: 45px !important;
}

.signup-alert {
  border-radius: 3em;
  margin-bottom: 10px;
  height: 25px;
  line-height: 30px;
  padding: 0px 15px;
  padding-top: 4px;
  background-color: #ee786c;
  color: white;
  border: none;
  text-align: center;
  font-size: 0.8em;
}

#alert-btn {
  padding: 0px;
  padding-right: 13px;
}

/* Hide caret */
.company-code {
  border: none;
  color: transparent !important;
  display: inline-block;
  font-size: 2em;
  text-shadow: 0 0 0 #000;
  width: 2em;
}

.form-button {
  border: 1.5px solid #ee786c !important;
  border-radius: 45px !important;
  width: 100%;
  background: #ee786c !important;
  color: white !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px !important;
}
.form-button:hover {
  border: 1.5px solid #ee786c !important;
  background: transparent !important;
  color: #ee786c !important;
}
.suc-right {
  margin: 1vh 6vw;
  margin-top: 3vh;
  border-radius: 5px;
  background: rgb(226, 226, 226);
  padding-top: 5vh;
  padding-left: 2vw;
  padding-right: 2vw;
}
.form-msg > h1 {
  display: inline !important;
  font-family: "Nunito", sans-serif;
  color: #000;
}
.hello-icon {
  height: 35px;
}
.form-msg > p {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 13px;
  margin-top: 1.5vh;
}
.sign-up-head {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-size: 30px;
}
.fc-btn {
  margin: 5vh 0vw !important;
}
/* Footer */
footer {
  height: 20vh;
  background: #1f1f26;
  border-top: 1px solid #a5a5a8;
}
.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#copyright {
  text-align: center;
  color: #a5a5a8;
  margin-top: 2vh;
  font-family: "Nunito", sans-serif;
}
.social-links {
  margin-top: 1vh;
  height: 10vh;
  padding-top: 1vh;
  text-align: center;
}
.social-link {
  color: #fff;
  font-size: 23px;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 100%;
  text-align: center;
}
.social-link:hover {
  color: #ee786c;
}

/* EMPLOYEE */
.emp-slide {
  display: grid;
  grid-template-columns: 6.5vw 93vw;
}
/* Sidebar */
#custom-sidebar {
  height: 100vh;
  /* background: red; */
  /* border-right: 1px solid #999; */
}
.profile-pic {
  /* background: green; */
  text-align: center;
  margin-top: 3vh;
}
#profile-pic {
  height: 37px;
  /* background: red; */
}
#profile-name {
  color: #fff;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-size: 11px;
  transition: 0.1s ease-in;
  letter-spacing: 0.5px;
}
#profile-name:hover {
  color: #ee786c;
  font-weight: 400;
}
.sb-links {
  text-align: center;
  /* background: red; */
}
.sb-first-link {
  margin-top: 4vh;
}
.sb-link > svg {
  fill: #f4f7fc;
  margin: 1.8vh 0;
}
#task-icon {
  height: 30px;
}
#notes-icon {
  height: 29px;
}
#signout-icon {
  margin-top: 35vh;
  margin-right: 10px;
}
#create-team {
  height: 31px;
}
.sb-svg {
  transition: 0.1s ease-in-out;
}

/* editing tool tips */
.tooltip-inner {
  background-color: #ee786c !important;
  color: #fff;
  font-family: "Nunito", sans-serif;
  padding: 7px;
}
/* arrow hide */
.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: rgba(255, 0, 0, 0) !important;
}
.active-navlink {
  border-right: 5px solid #ee786c;
}
.active-navlink-child {
  fill: #ee786c !important;
}
/* Dashboard slide emp */
.main-content-emp {
  height: 98vh;
  margin-top: 1vh;
  background: #f4f7fc;
  border-radius: 15px 0 0 15px;
  padding-top: 3vh;
}
.tab-top-nav {
  /* background: red; */
  display: grid;
  grid-template-columns: 75vw 25vw;
  margin: 2vh 2vw;
  margin-top: 0;
}
.tab-name {
  /* background:red; */
  font-family: "Nunito", sans-serif;
  font-size: 27px;
  color: #1f1f26;
}
.today-date {
  font-family: "Open Sans", sans-serif;
  padding-top: 1vh;
}
.section-one {
  display: grid;
  grid-template-columns: 80% 20%;
}
.msg-section {
  margin: 1vh 2vw;
  padding: 1vh 2vw;
  background: #1f1f26;
  border-radius: 15px;
}
.msg-one {
  margin-bottom: 0;
  padding-top: 6vh;
  font-family: "Nunito", sans-serif;
  color: #ee786c;
}
.msg-two {
  margin-bottom: 1vh;
  font-weight: 800;
  font-size: 35px;
  font-family: "Nunito", sans-serif;
  color: #ee786c;
  /* background: green; */
}
.attendance {
  margin-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.attendance > h2 {
  font-family: "Nunito", sans-serif;
  display: inline;
  font-size: 20px;
}
.attendance > form {
  display: inline !important;
  margin-left: 2vw;
}
.attendance > form > button {
  display: inline !important;
  margin-left: 2vw;
  color: #000 !important;
}
.recent_attendance {
  /* background: blue; */
  /* height: 10vh; */
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 3.5vh;
}
.ra-table {
  /* background: red; */
  margin-top: 1vh;
  margin-left: 2vw;
}
.ra-table > h2 {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  margin-bottom: 0;
}
.at-dash {
  border-radius: 15px !important;
  background: #fff !important;
  margin-top: 5px !important;
}
.ra-left {
  margin-right: 2vw;
}
.modal-attendance {
  background: transparent;
  border: none;
  margin-top: 3px;
  font-family: "Nunito", sans-serif;
  float: right;
}
.modal-attendance:hover {
  background: transparent;
  border: none;
  margin-top: 3px;
  font-family: "Nunito", sans-serif;
  float: right;
  color: #ee786c;
}

.at-btn {
  font-family: "Nunito", sans-serif !important;
}
/* Tasks */
/* .main-task-sec { */
/* background: yellowgreen; */
/* } */
.section-two {
  display: grid;
  grid-template-columns: 80% 20%;
}
.task-form-head {
  font-family: "Nunito", sans-serif;
  margin-bottom: 1vh;
}
.task-form {
  /* background: #000; */
  width: 70vw !important;
  margin: 3vh 0 3vh 2vw !important;
  padding-bottom: 3vh;
}
.filter-tasks-btns {
  /* background: red; */
  height: 10vh;
  padding-top: 3vh;
  margin-bottom: 3vh;
}
.filter-btn {
  padding: 1.4vh 2vw !important;
  margin-right: 1vw;
  font-family: "Open Sans", sans-serif;
}
.filter-btn:hover {
  padding: 1.5vh 2vw !important;
}
.tasks-table {
  overflow-y: auto;
  height: 50vh;
  border-radius: 15px 0 0 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.task-table-struc {
  background: #fff !important;
  border-radius: 15px 0 0 15px !important;
}
.tt-btn {
  background: #ee786c !important;
  color: #fff !important;
  border-radius: 5px !important;
  transition: 2s ease-in-out;
}
.tt-btn:hover {
  box-shadow: px px rgba(9, 9, 9, 0.4) !important;
}
.right-side {
  margin: 1vh 2px;
  margin-bottom: 6vh;
  border-radius: 15px;
}
.rs-top {
  margin: 2vh 10px;
  padding: 2vh 1vw;
  border-radius: 15px;
}
.rs-top > h1 {
  font-family: "Nunito", sans-serif;
  display: inline;
}
.social-open-links {
  /* background: greenyellow; */
  padding: 1vh 5px;
}
.so-link {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 16px;
  margin: 2vh 1vw;
  padding: 2.5vh 1vw;
  border-radius: 15px;
  background: #fff;
}
.so-link > a {
  color: #1f1f26;
}
.fb-bg:hover {
  color: #3b5998;
}
.insta-bg:hover {
  color: #cd486b;
}
.li-bg:hover {
  color: #0e76a8;
}
.so-link > a > i {
  margin-right: 3vw;
}

/* ============ RESPONSIVE ============= */
/* 
  320px — 480px: Mobile devices.
  481px — 768px: iPads, Tablets.
  769px — 1024px: Small screens, laptops.
  1025px — 1200px: Desktops, large screens.
  1201px and more — Extra large screens, TV.
*/
@media only screen and (max-width: 480px) {
  /* Utilities classes */
  .theme-button {
    padding: 2vh 8vw !important;
  }
  .theme-button:hover {
    padding: 2vh 8vw !important;
  }

  /* NAVBAR */
  .navbar-brand {
    margin-left: 1vw;
    margin-top: 2vh;
  }
  .navbar-nav {
    margin-top: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    float: left;
  }
  .theme-button-clear {
    background: transparent !important;
    color: white !important;
    border: none !important;
    border-radius: none !important;
  }
  /* Hero Section */
  #hero-section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2vh 4vw;
    margin: 3vh 3vw;
  }
  /* HS-Left */
  .hsl-heads {
    padding-top: 3vh !important;
    padding-left: 0;
    padding-bottom: 0.5vh;
  }
  .hsl-tittle {
    font-size: 45px;
  }
  .hsl-text {
    padding-left: 0;
    font-size: 14px;
    width: 92vw;
  }
  .hsl-links {
    padding-left: 0;
    margin-top: 7vh;
  }
  .hsl-link {
    font-size: 14px;
  }
  #register-link {
    margin-left: 5vw;
    font-size: 14px;
  }

  /* HS-Right */
  .hero-section-right {
    display: none;
  }
  /* Sign up */
  .alt-height {
    height: auto !important;
    padding-bottom: 5vh;
  }
  #sign-up-content {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 7vh;
  }
  .suc-right {
    margin: 1vh 3vw;
    margin-bottom: 4vh;
  }
  .theme-form {
    width: 90vw;
  }
  .input-mb {
    margin-bottom: 2vh !important;
  }
  /* Footer */
  .footer-links {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-brand {
    text-align: center !important;
  }
}

/* 
COLORS
Primary   : #1F1F26 ----- Blackish
Secondary : #EE786C ----- Orangish
Extra     : #FFFFFF ----- White


FONTS
Primary   : Nunito
Secondary : Open-Sans
Extra     : Reenie Beanie

Syntax
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Reenie Beanie', cursive;
*/
